.modalContainer {
  width: 100vw;
  height: 100vh;
  position: absolute;

  background: var(--black-700);

  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContentContainer {
  width: 40vw;
  height: 25rem;
  border-radius: 16px;
  padding: 1rem;

  background-color: var(--white);

  display: flex;
  flex-direction: column;

  gap: 30%;
  svg {
    align-self: flex-end;
    cursor: pointer;
  }

  .content {
    align-self: center;
    display: flex;
    flex-direction: column;

    h2 {
      font-size: 1.2rem;
    }
  }
}

.redirectButtonContainer {
  text-decoration: none;
  width: 100%;
  margin-top: 1rem;

  display: flex;
  justify-content: center;

  button {
    width: 80%;
    padding: 1rem;
  }
}
