:root {
  --pink-500: #eb568e;
  --blue-500: #144ee3;
  --black-500: #0b101b;

  --grey-200: #c9ced6;
  --grey-700: #181e29;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-width: 100vw;
  min-height: 100vh;

  background-image: url('/assets/cubes.svg');
  background-color: var(--black-500);
}

button {
  cursor: pointer;
}
